* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

.none { 
  display: none;
}

div.dark-button-wrapper {
  width: 40px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 24px;
}

.dark-button {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: relative;
}

.dark-button.night {
  animation: slideNight 500ms ease-in-out forwards;
}

@keyframes slideNight {
  0% {
    left: 0px;
  }
  100% {
    left: 20px;
  }
}

.dark-button.light {
  animation: slideLight 500ms ease-in-out forwards;
}

@keyframes slideLight {
  0% {
    left: 20px;
  }
  100% {
    left: 0px;
  }
}

.dark {
  background-color: #333;
}

.ghost {
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
  cursor: grabbing;
}

body {
  background-color: rgb(50, 135, 210);
  font-family: "Poppins";
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

/* header page */

header {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  width: fit-content;
  height: auto;
}

header h1 {
  animation: type 2s steps(30, end) forwards,
    blink 0.2s step-end infinite alternate;
  overflow: hidden;
  white-space: nowrap;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
  width: 0;
  border-right: 2px solid #fff;
}

@keyframes type {
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* /header page */

/* main page */

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

.wrap {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

/* input section page */

main .img-input-close {
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 2;
  top: 20px;
  right: 20px;
  display: none;
}

main .glass-wrap {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(50px);
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  opacity: 0;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

main .glass-wrap.showGlass {
  animation: glassShow 300ms linear forwards;
}

@keyframes glassShow {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

main .glass-wrap.hideGlass {
  animation: glassHide 300ms linear forwards;
}

@keyframes glassHide {
  0% {
    opacity: 0.9;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}

main .input-section {
  position: absolute;
  width: 40%;
  height: 300px;
  display: flex;
  opacity: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 1.5rem;
  margin-bottom: 1rem;
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
  color: rgb(50, 135, 210);
  z-index: 0;
  transform: scale(1);
}

main .input-section h2 {
  font-weight: 800;
  font-size: 2.5rem;
}

main .input-section.showInput {
  animation: bouncein 500ms ease-in-out forwards;
}

@keyframes bouncein {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

main .input-section.hideInput {
  animation: bounceout 300ms linear forwards;
}

@keyframes bounceout {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

main .input-section input {
  width: 60%;
  height: 2.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: 1px solid rgb(50, 135, 210);
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.1rem;
}

main .input-section button {
  width: 30%;
  height: 2.1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(50, 135, 210);
  color: #fff;
  cursor: pointer;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.05rem;
}

/* /input section page */

/* button-wrap page */

main .button-wrap {
  display: flex;
  width: fit-content;
  margin-left: 34%;
  margin-bottom: 0.3rem;
  color: black;
  justify-content: center;
  align-items: center;
}

main .button-wrap button.add-kegiatan {
  width: auto;
  height: auto;
  border-radius: 12px;
  padding: 0.4rem;
  border: 1px solid rgb(50, 135, 210);
  background-color: #fff;
  color: rgb(50, 135, 210);
  cursor: pointer;
  font-weight: 600;
  position: relative;
  transition: all 300ms ease-in-out;
}

main .button-wrap button.add-kegiatan:hover {
  color: #000;
  background-color: transparent;
  background-color: rgb(0, 255, 60);
}

/* /button-wrap page */

/* container list page */

main .container {
  background-color: #fff;
  max-height: 320px;
  position: relative;
  overflow-y: auto;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
  color: rgb(50, 135, 210);
  border: 10px solid #fff;
}

main .container .list {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
}

main .container .card {
  background-color: rgb(50, 135, 210);
  padding: 1rem;
  border-radius: 0.5rem;
  width: 60%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 10px;
  color: #fff;
  font-weight: 500;
}

main .container .card.showadd {
  animation: fadeIn 500ms ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

main .container .card .checkbox {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  accent-color: rgb(0, 255, 60);
  cursor: pointer;
}

main .container .card .remove {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
  color: #fff;
  cursor: pointer;
  position: relative;
  transition: all 300ms ease-in-out;
}

main .container .card .remove:hover {
  background-color: red;
  border: 1px solid red;
}

main .container .card .remove img {
  width: 12px;
  height: 12px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* clear all button */

main button.clearall {
  width: auto;
  height: auto;
  border-radius: 12px;
  padding: 0.3rem;
  border: 1px solid red;
  background-color: red;
  color: #fff;
  cursor: pointer;
  margin-top: 0.3rem;
  margin-left: 32%;
  margin-bottom: 8rem;
  font-weight: 400;
  transition: all 300ms ease-in-out;
}

main button.clearall:hover {
  box-shadow: red 0px 0px 10px 3px;
}

/* footer page */

footer {
  width: 100%;
  height: 1.5rem;
  background-color: #fff;
  text-align: center;
  color: rgb(50, 135, 210);
  font-size: 0.7rem;
  font-style: italic;
  margin-top: auto;
}

/* responsive for mobile */

@media screen and (max-width: 480px) {
  header h1 {
    font-size: 2.5rem;
  }

  main .input-section {
    width: 90%;
    row-gap: 1rem;
  }

  main .input-section h2 {
    font-size: 1.9rem;
  }

  main .input-section input {
    width: 70%;
  }

  main .button-wrap {
    margin-left: 72%;
  }

  main .container {
    width: 90%;
  }

  main .container .card {
    width: 90%;
  }

  main button.clearall {
    margin-left: 68%;
  }
}

/* responsive for tablet */

@media screen and (min-width: 600px) and (max-width: 1200px) {
  main .input-section {
    width: 60%;
  }

  main .button-wrap {
    margin-left: 51%;
  }

  main .container {
    width: 60%;
  }

  main .container .card {
    width: 70%;
  }

  main button.clearall {
    margin-left: 48%;
  }
}
