* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.none {
  display: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: rgb(50, 135, 210);
  font-family: "Poppins";
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
}

header {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  width: fit-content;
  height: auto;
}

header h1 {
  animation: type 2s steps(30, end) forwards,
    blink 0.2s step-end infinite alternate;
  overflow: hidden;
  white-space: nowrap;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  width: 0;
  border-right: 2px solid #fff;
}

@keyframes type {
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrap {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

main .img-input-close {
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 2;
  top: 10px;
  right: 10px;
  display: none;
}

main .glass-wrap {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(50px);
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

main .input-section {
  position: absolute;
  width: 30%;
  height: 200px;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 1rem;
  margin-bottom: 1rem;
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
  color: rgb(50, 135, 210);
  z-index: 2;
}

main .input-section.show {
  display: flex;
  animation: fadein 1s linear forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
    margin-top: -20rem;
  }
  to {
    opacity: 1;
    margin-top: 0rem;
  }
}

main .input-section input {
  width: 60%;
  height: 2rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: 1px solid rgb(50, 135, 210);
  font-family: "Poppins";
  font-weight: 500;
}

main .input-section button {
  width: 20%;
  height: 2rem;
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(50, 135, 210);
  color: #fff;
  cursor: pointer;
  font-family: "Poppins";
  font-weight: 600;
  border: 2px solid #fff;
}

main .info {
  display: flex;
  width: fit-content;
  margin-left: 38%;
  background-color: #fff;
  padding: 0.2rem;
  border-radius: 50%;
  margin-bottom: 0.3rem;
  color: black;
  justify-content: center;
  align-items: center;
}

main .info button.add-kegiatan {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid rgb(50, 135, 210);
  background-color: rgb(50, 135, 210);
  color: #fff;
  cursor: pointer;
}

main .container {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 10rem;
  width: 40%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
  color: rgb(50, 135, 210);
}

main .container .list {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
}

main .container .card {
  background-color: rgb(50, 135, 210);
  padding: 1rem;
  border-radius: 0.5rem;
  width: 60%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 10px;
  color: #fff;
}

main .container .card .remove {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  border: 1px solid red;
  color: #fff;
  cursor: pointer;
  position: relative;
}

main .container .card .remove img {
  width: 12px;
  height: 12px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 480px) {
  main .input-section {
    width: 90%;
  }

  main .info {
    margin-left: 83%;
  }

  main .container {
    width: 90%;
  }

  main .container .card {
    width: 90%;
  }
}

@media screen and (max-width: 1200px) {
  main .input-section {
    width: 60%;
  }

  main .info {
    margin-left: 56%;
  }

  main .container {
    width: 60%;
  }

  main .container .card {
    width: 70%;
  }
}
